doctype  html
html(lang='en')
	head
		meta(charset='utf-8')
		link(rel="icon" href="./assets/img/favicons/favicon.ico" type="image/x-icon")
		title start-gulp4-webpack4
		meta(name='description', content='Start')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="./assets/libs/bootstrap/bootstrap.min.css")
		link(rel="stylesheet" href="./assets/css/style.css")
	body
		block content
		
		script(src='./assets/libs/jQuery/jquery-3.3.1.min.js')
		script(src='./assets/js/main.js')